/* Main App Styles */

/* Font Import */
@import url("https://use.typekit.net/mmd8ecg.css");

/* Global */
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'korolev-rounded', sans-serif;
    font-weight: 500;
    color: #282828; 
}

.app-wrapper {
    width: 100%;
    height: auto;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: #54585d;
}

.nav-header-logo-container {
    width: max-content;
    margin-left: 10px;
}

.nav-header-navigation {
    margin-right: 30px;
    font-size: 21px;
    font-weight: 300;
    color: #ecf0f1;
}

.nav-header a:active,
.nav-header a:visited,
.nav-header a:link {
    color: #ecf0f1;
    text-decoration: none;
}

.nav-header a:hover {
    color: #00c5f7;
}
.nav-divider {
    margin: 0 10px 0 10px;
}

.slider-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.slider-controller, .saved-controller {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 240px;
    border-radius: 10px;
    background-color: #cfd9e5;
    padding: 14px 0px 0 0;
}

h2 {
    width: 300px;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfd9e5;
    margin-bottom: -14px;
}

h3 {
    width: 300px;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dab7b7;
    margin-bottom: -14px;
}

.saved-controller {
    background-color: #dab7b7;
}

.slide-card {
    width: 150px;
    height: 210px;
    border-radius: 20px;
    background-color: white;
    padding: 15px;
    text-align: center;
    margin-left: 20px !important;
    margin-right: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}